.blog-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.blog-card img{
  height:300px;
  object-fit:cover;
}

.blog-content{
  padding:24px;
}

.blog-content h3{
  font-size:32px;
  margin-bottom:20px;
}

@media(max-width:768px){

.blog-grid{
  grid-template-columns:1fr;
}

}